@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Noto+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.wrapper {
  position: relative;
  font-size: 12px;
  font-family: 'Noto Sans TC', sans-serif;
  overflow: hidden;
}

.wrapper header {
  width: 50%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 3%;
  z-index: 10;
}

@media (max-width: 576px) {
  .wrapper header {
    width: 100%;
  }
}

.wrapper header .logo {
  padding: 10px;
}

.wrapper header .logo .logo__img {
  width: 120px;
  float: left;
  line-height: 0;
  padding: 0 15px 0 0;
  margin: 0 15px 0 0;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #009fe8;
}

.wrapper header .logo .logo__text {
  width: auto;
  float: left;
  background-color: rgba(255, 255, 255, 0.7);
  border-width: 1px;
  border-style: solid;
  border-color: #231815;
}

.wrapper header .logo .logo__text a {
  color: #000;
  display: block;
  width: 100%;
  height: 100%;
  padding: 6px 10px;
}

.wrapper header .logo .logo__text a:hover {
  text-decoration: none;
}

.wrapper #actions {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  width: 46px;
  text-align: center;
}

.wrapper #actions a {
  background: rgba(255, 255, 255, 0.7);
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  width: 42px;
  height: 42px;
  border-radius: 20px;
  font-size: 16px;
  padding: 7px;
  margin: 2px;
  color: #000;
  display: inline-block;
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.wrapper #actions a:hover {
  background: black;
  color: #fff;
}

.wrapper .fullpage {
  scrollbar-color: transparant;
}

.wrapper .fullpage .page {
  position: relative;
  z-index: 1;
  text-align: left;
}

.wrapper .fullpage .page .bg {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.wrapper .fullpage .page .bg .slick-dots {
  position: absolute;
  bottom: 6%;
}

.wrapper .fullpage .page .slider img {
  width: 100%;
}

.wrapper .fullpage .page .slider .slick-dots li button:before {
  width: 12px;
  height: 12px;
  font-size: 0;
  padding: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #231815;
  border-radius: 50%;
  background-color: transparent;
  opacity: 1;
}

.wrapper .fullpage .page .slider .slick-dots li.slick-active button:before {
  background-color: #231815;
}

@media (max-width: 767px) {
  .wrapper .fullpage .page .page__content {
    left: 4%;
  }
}

.wrapper .fullpage .page .page__content h2 {
  padding: 0 6%;
}

.wrapper .fullpage .page .page__content h3 {
  font-size: 42px;
  font-weight: 700;
  color: #231815;
  letter-spacing: 6px;
  padding: 10px 0;
}

@media (max-width: 572px) {
  .wrapper .fullpage .page .page__content h3 {
    font-size: 6vw;
  }
}

.wrapper .fullpage .page .page__content p {
  font-size: 15px;
  letter-spacing: 2px;
}

@media (max-width: 572px) {
  .wrapper .fullpage .page .page__content p {
    font-size: 2.6vw;
  }
}

@media (max-width: 414px) {
  .wrapper .fullpage .page .page__content p {
    font-size: 4vw;
  }
}

.wrapper .fullpage .page .page__content p.opacity6 {
  opacity: 0.6;
}

.wrapper .fullpage .page.pageFirst .bg {
  background-image: url(../img/pagebg_01.jpg);
  opacity: .4;
}

.wrapper .fullpage .page.pageSecond .bg {
  background-image: url(../img/pagebg_02.jpg);
}

.wrapper .fullpage .page.pageThird .bg {
  background-image: url(../img/pagebg_03.jpg);
}

.wrapper .fullpage .page.pageFifth .bg {
  background-image: url(../img/pagebg_05.jpg);
}

.wrapper .fullpage .page.pageNinth .bg {
  background-image: url(../img/pagebg_09.jpg);
}

@media (max-width: 767px) {
  .wrapper .fullpage .page.pageFirst .page__content {
    left: 0%;
  }
}

.wrapper .fullpage .page.pageSecond .bg, .wrapper .fullpage .page.pageSeventh .bg, .wrapper .fullpage .page.pageEighth .bg, .wrapper .fullpage .page.pageNinth .bg {
  width: 56%;
}

@media (max-width: 991px) {
  .wrapper .fullpage .page.pageSecond .bg, .wrapper .fullpage .page.pageSeventh .bg, .wrapper .fullpage .page.pageEighth .bg, .wrapper .fullpage .page.pageNinth .bg {
    width: 50%;
  }
}

.wrapper .fullpage .page.pageThird .bg, .wrapper .fullpage .page.pageFifth .bg {
  opacity: .6;
}

.wrapper .fullpage .page.pageThird .page__content, .wrapper .fullpage .page.pageFifth .page__content {
  position: absolute;
  bottom: 10%;
  left: 0;
}

.wrapper .fullpage .page.pageThird .page__content h3, .wrapper .fullpage .page.pageThird .page__content p, .wrapper .fullpage .page.pageFifth .page__content h3, .wrapper .fullpage .page.pageFifth .page__content p {
  color: #fff;
}

@media (max-width: 767px) {
  .wrapper .fullpage .page.pageThird .page__content, .wrapper .fullpage .page.pageFifth .page__content {
    bottom: 3%;
    left: 4%;
  }
}

@media only screen and (orientation: portrait) {
  .wrapper .fullpage .page.pageThird .page__content, .wrapper .fullpage .page.pageFifth .page__content {
    max-width: 91.666666667%;
  }
}

.wrapper .fullpage .page.pageFourth .page__img, .wrapper .fullpage .page.pageSixth .page__img {
  width: 92%;
  height: 75%;
  position: absolute;
  bottom: 0;
  left: 4%;
  margin-bottom: 0;
  overflow: hidden;
}

@media (max-width: 991px) {
  .wrapper .fullpage .page.pageFourth .page__img, .wrapper .fullpage .page.pageSixth .page__img {
    height: 70%;
  }
}

@media (max-width: 767px) {
  .wrapper .fullpage .page.pageFourth .page__img, .wrapper .fullpage .page.pageSixth .page__img {
    height: 60%;
  }
}

@media (max-width: 600px) {
  .wrapper .fullpage .page.pageFourth .page__img, .wrapper .fullpage .page.pageSixth .page__img {
    height: 63%;
  }
}

.wrapper .fullpage .page.pageFourth .page__img li, .wrapper .fullpage .page.pageSixth .page__img li {
  width: 23.5%;
  height: 100%;
  margin-right: 2%;
  float: left;
  overflow: hidden;
  background-color: #000;
  position: relative;
}

.wrapper .fullpage .page.pageFourth .page__img li:last-child, .wrapper .fullpage .page.pageSixth .page__img li:last-child {
  margin-right: 0;
}

.wrapper .fullpage .page.pageFourth .page__img li span, .wrapper .fullpage .page.pageSixth .page__img li span {
  display: block;
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 10px;
  color: #fff;
}

.wrapper .fullpage .page.pageFourth .page__img li img, .wrapper .fullpage .page.pageSixth .page__img li img {
  height: 120%;
  opacity: .7;
}

@media (max-width: 600px) and (orientation: portrait) {
  .wrapper .fullpage .page.pageFourth .page__img li, .wrapper .fullpage .page.pageSixth .page__img li {
    width: 49%;
    height: 49%;
    margin-bottom: 2%;
  }
  .wrapper .fullpage .page.pageFourth .page__img li:nth-child(even), .wrapper .fullpage .page.pageSixth .page__img li:nth-child(even) {
    margin-right: 0;
  }
  .wrapper .fullpage .page.pageFourth .page__img li:nth-child(3), .wrapper .fullpage .page.pageFourth .page__img li:nth-child(4), .wrapper .fullpage .page.pageSixth .page__img li:nth-child(3), .wrapper .fullpage .page.pageSixth .page__img li:nth-child(4) {
    margin-bottom: 0%;
  }
  .wrapper .fullpage .page.pageFourth .page__img li img, .wrapper .fullpage .page.pageSixth .page__img li img {
    width: 100%;
    height: auto;
    opacity: .7;
    -webkit-transform: translateY(-9%);
            transform: translateY(-9%);
  }
}

@media only screen and (orientation: portrait) {
  .wrapper .fullpage .page.pageFourth .page__img li, .wrapper .fullpage .page.pageSixth .page__img li {
    width: 49%;
    height: 49%;
    margin-bottom: 2%;
  }
  .wrapper .fullpage .page.pageFourth .page__img li:nth-child(even), .wrapper .fullpage .page.pageSixth .page__img li:nth-child(even) {
    margin-right: 0;
  }
  .wrapper .fullpage .page.pageFourth .page__img li:nth-child(3), .wrapper .fullpage .page.pageFourth .page__img li:nth-child(4), .wrapper .fullpage .page.pageSixth .page__img li:nth-child(3), .wrapper .fullpage .page.pageSixth .page__img li:nth-child(4) {
    margin-bottom: 0%;
  }
  .wrapper .fullpage .page.pageFourth .page__img li img, .wrapper .fullpage .page.pageSixth .page__img li img {
    width: 100%;
    height: auto;
    opacity: .7;
    -webkit-transform: translateY(-9%);
            transform: translateY(-9%);
  }
}

.wrapper .fullpage .page.pageFourth .page__content, .wrapper .fullpage .page.pageSixth .page__content {
  position: absolute;
  top: 3%;
  left: 0;
}

@media (max-width: 767px) {
  .wrapper .fullpage .page.pageFourth .page__content, .wrapper .fullpage .page.pageSixth .page__content {
    top: 13%;
    left: 4%;
  }
}

@media only screen and (orientation: portrait) {
  .wrapper .fullpage .page.pageFourth .page__content, .wrapper .fullpage .page.pageSixth .page__content {
    top: 10%;
  }
}

.wrapper .fullpage .page.pageSixth .page__img li {
  background-color: #fff;
}

.wrapper .fullpage .page.pageSixth .page__img li:nth-child(1) {
  width: 60%;
}

.wrapper .fullpage .page.pageSixth .page__img li:nth-child(2) {
  width: 37%;
}

.wrapper .fullpage .page.pageSixth .page__img li img {
  opacity: 1;
}

@media (max-width: 600px) {
  .wrapper .fullpage .page.pageSixth .page__img li:nth-child(1) {
    width: 100%;
  }
  .wrapper .fullpage .page.pageSixth .page__img li:nth-child(2) {
    width: 100%;
  }
}

@media only screen and (orientation: portrait) {
  .wrapper .fullpage .page.pageSixth .page__img li:nth-child(1) {
    width: 100%;
  }
  .wrapper .fullpage .page.pageSixth .page__img li:nth-child(2) {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .wrapper .fullpage .page.pageSecond .bg, .wrapper .fullpage .page.pageSeventh .bg, .wrapper .fullpage .page.pageEighth .bg {
    width: 90%;
    height: 70%;
  }
  .wrapper .fullpage .page.pageSecond .page__content, .wrapper .fullpage .page.pageSeventh .page__content, .wrapper .fullpage .page.pageEighth .page__content {
    position: absolute;
    bottom: 0%;
  }
}

@media (max-width: 576px) {
  .wrapper .fullpage .page.pageSecond .bg, .wrapper .fullpage .page.pageSeventh .bg, .wrapper .fullpage .page.pageEighth .bg {
    width: 85%;
  }
}

@media only screen and (orientation: portrait) {
  .wrapper .fullpage .page.pageSecond .bg, .wrapper .fullpage .page.pageSeventh .bg, .wrapper .fullpage .page.pageEighth .bg {
    width: 90%;
    height: 70%;
  }
  .wrapper .fullpage .page.pageSecond .page__content, .wrapper .fullpage .page.pageSeventh .page__content, .wrapper .fullpage .page.pageEighth .page__content {
    position: absolute;
    bottom: 0%;
    max-width: 91.666666667%;
  }
}

.wrapper .fullpage .page.pageNinth .contact__maintitle {
  margin: 20px auto;
}

.wrapper .fullpage .page.pageNinth .contact__text {
  font-size: 36px;
  letter-spacing: 1px;
  line-height: 36px;
}

.wrapper .fullpage .page.pageNinth .contact__info {
  margin: 15px 0;
}

.wrapper .fullpage .page.pageNinth .contact__info p {
  display: inline-block;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 1px;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #009fe8;
  padding: 0 10px 0 0;
  margin: 0 10px 0 0;
}

.wrapper .fullpage .page.pageNinth .contact__info span {
  display: inline-block;
  color: #009fe8;
  font-size: 30px;
  line-height: 36px;
  vertical-align: bottom;
}

@media (max-width: 1060px) {
  .wrapper .fullpage .page.pageNinth .contact__info span {
    font-size: 26px;
  }
}

.wrapper .fullpage .page.pageNinth .contact__data input[type="text"], .wrapper .fullpage .page.pageNinth .contact__data textarea {
  width: 100%;
  height: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #009fe8;
  margin: 0 0 10px 0;
  padding: 15px;
  color: #292929;
  background-color: rgba(255, 255, 255, 0.7);
}

.wrapper .fullpage .page.pageNinth .contact__data input[type="text"]:focus, .wrapper .fullpage .page.pageNinth .contact__data textarea:focus {
  outline: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #006b9c;
}

.wrapper .fullpage .page.pageNinth .contact__data textarea {
  height: 30px;
  padding: 6px 15px;
}

.wrapper .fullpage .page.pageNinth .contact__data .contact__data__cta {
  height: 30px;
  line-height: 30px;
}

.wrapper .fullpage .page.pageNinth .contact__data .contact__data__cta .contact__data__check {
  width: 75%;
  float: left;
}

.wrapper .fullpage .page.pageNinth .contact__data .contact__data__cta .contact__data__check input[type="checkbox"] {
  visibility: hidden;
}

.wrapper .fullpage .page.pageNinth .contact__data .contact__data__cta .contact__data__check label {
  display: inline-block;
  height: 30px;
  text-align: left;
  float: left;
  line-height: 30px;
  position: relative;
  padding: 0 0 0 30px;
}

.wrapper .fullpage .page.pageNinth .contact__data .contact__data__cta .contact__data__check label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 7px;
  left: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #009fe8;
  margin: 0 10px 10px 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.wrapper .fullpage .page.pageNinth .contact__data .contact__data__cta .contact__data__check label:after {
  content: "V";
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 12px;
  position: absolute;
  left: 5px;
  z-index: 1;
  margin: 0 10px 10px 0;
  color: white;
  opacity: 0;
}

.wrapper .fullpage .page.pageNinth .contact__data .contact__data__cta .contact__data__check input:checked ~ label:before {
  background-color: #009fe8;
}

.wrapper .fullpage .page.pageNinth .contact__data .contact__data__cta .contact__data__check input:checked ~ label:after {
  opacity: 1;
}

.wrapper .fullpage .page.pageNinth .contact__data .contact__data__cta .contact__data__btn {
  width: 25%;
  float: right;
}

.wrapper .fullpage .page.pageNinth .contact__data .contact__data__cta .contact__data__btn button {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 6px;
  color: #ffffff;
  background-color: #009fe8;
  vertical-align: middle;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  border: 0;
}

@media (max-width: 767px) {
  .wrapper .fullpage .page.pageNinth .bg {
    width: 100%;
    height: 60%;
    background-position: center center;
  }
  .wrapper .fullpage .page.pageNinth .page__content {
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .wrapper .fullpage .page.pageNinth .page__content .contact__title {
    float: left;
    margin-top: 5%;
  }
  .wrapper .fullpage .page.pageNinth .page__content .contact__title .contact__maintitle {
    margin: 10px auto;
  }
  .wrapper .fullpage .page.pageNinth .page__content .contact__title .contact__text {
    font-size: 3.6vw;
    line-height: 3.6vw;
    height: 3.6vw;
  }
  .wrapper .fullpage .page.pageNinth .page__content .contact__title .contact__info {
    margin: 5px 0;
  }
  .wrapper .fullpage .page.pageNinth .page__content .contact__title .contact__info p {
    font-size: 2.2vw;
    line-height: 3.6vw;
    height: 3.6vw;
    letter-spacing: 0;
    margin: 0 5px 0 0;
    padding: 0 5px 0 0;
  }
  .wrapper .fullpage .page.pageNinth .page__content .contact__title .contact__info span {
    font-size: 3.6vw;
    line-height: 3.6vw;
    height: 3.6vw;
  }
  .wrapper .fullpage .page.pageNinth .page__content .contact__data {
    float: left;
    margin-top: 3%;
  }
}

@media (max-width: 575px) {
  .wrapper .fullpage .page.pageNinth .bg {
    width: 100%;
    height: auto;
  }
  .wrapper .fullpage .page.pageNinth .page__content {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    z-index: 5;
    background-color: #fff100;
  }
  .wrapper .fullpage .page.pageNinth .page__content .contact__title {
    max-width: 300px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper .fullpage .page.pageNinth .page__content .contact__title .contact__maintitle {
    max-width: 200px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper .fullpage .page.pageNinth .page__content .contact__title .contact__info span {
    font-size: 5vw;
    line-height: 5vw;
    height: 5vw;
  }
  .wrapper .fullpage .page.pageNinth .page__content .contact__data {
    float: left;
    margin-top: 3%;
  }
  .wrapper .fullpage .page.pageNinth .page__content .contact__data input[type="text"], .wrapper .fullpage .page.pageNinth .page__content .contact__data textarea {
    height: 20px;
    padding: 10px;
  }
  .wrapper .fullpage .page.pageNinth .page__content .contact__data textarea {
    padding: 0 10px;
  }
  .wrapper .fullpage .page.pageNinth .page__content .contact__data .contact__data__cta label {
    padding: 0 0 0 20px;
  }
}

.wrapper .fullpage .text-align-center {
  text-align: center;
}

.wrapper .popup {
  width: 300px;
  height: 100px;
  line-height: 50px;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #fff;
  padding: 0 10px;
  z-index: 20;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  display: none;
}

.wrapper .popup .close {
  width: 50px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: #bbb;
  margin: 0 auto;
  float: none;
}

.wrapper .popup .close:hover {
  cursor: pointer;
}

.wrapper .popup.is-acted {
  display: block;
}

.fp-viewing-01 .wrapper #actions a#moveSectionUp {
  background: rgba(255, 255, 255, 0.7);
  color: #000;
  opacity: .3;
}

.fp-viewing-01 .wrapper #actions a#moveSectionUp:hover {
  background: rgba(255, 255, 255, 0.7);
  color: #000;
  opacity: .3;
}

.fp-viewing-09 .wrapper #actions a#moveSectionDown {
  background: rgba(255, 255, 255, 0.7);
  color: #000;
  opacity: .3;
}

.fp-viewing-09 .wrapper #actions a#moveSectionDown:hover {
  background: rgba(255, 255, 255, 0.7);
  color: #000;
  opacity: .3;
}

#fp-nav {
  top: 20%;
}

#fp-nav ul li {
  width: 16px;
  height: 16px;
  margin: 5px;
}

#fp-nav ul li a.active span {
  width: 16px;
  height: 16px;
  background-color: transparent;
  margin: -10px 0 0 -8px;
}

#fp-nav ul li a.active span.fp-sr-only {
  opacity: 1;
  width: 18px;
  height: 18px;
  color: #000;
  clip: auto;
  font-size: 13px;
}

#fp-nav ul li .fp-tooltip {
  display: none;
}

#fp-nav ul li:hover a.active span {
  margin: -10px 0 0 -8px;
}

.fp-viewing-08 .wrapper header {
  right: 0;
  left: auto;
}

.fp-viewing-08 .wrapper header .logo {
  width: auto;
  float: right;
}

@media (max-width: 575px) {
  .fp-viewing-08 .wrapper header {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */